<article class="content__block portfolio d-flex flex-column align-items-center">
  <h2 class="portfolio__title py-3">Projects</h2>
  <h3 class="portfolio__subtitle py-2">Things I’ve built so far</h3>
  <section class="portfolio__list">
    <article
      class="portfolio__item portfolio__item-1 d-flex flex-column justify-content-between"
    >
      <div class="portfolio__cover"></div>
      <h4 class="portfolio__project-title">Project Title goes here</h4>
      <span class="portfolio__description"
        >This is sample project description random things are here in
        description This is sample project lorem ipsum generator for dummy
        content</span
      >
      <span class="portfolio__stack">
        <span>Tech stack :</span> HTML , JavaScript, SASS, React
      </span>
      <div class="portfolio__links d-flex">
        <div class="portfolio__preview d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">Live Preview</a>
        </div>
        <div class="portfolio__code d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">View Code</a>
        </div>
      </div>
    </article>
    <article
      class="portfolio__item portfolio__item-2 d-flex flex-column justify-content-between"
    >
      <div class="portfolio__cover"></div>
      <h4 class="portfolio__project-title">Project Title goes here</h4>
      <span class="portfolio__description"
        >This is sample project description random things are here in
        description This is sample project lorem ipsum generator for dummy
        content</span
      >
      <span class="portfolio__stack">
        <span>Tech stack :</span> HTML , JavaScript, SASS, React
      </span>
      <div class="portfolio__links d-flex">
        <div class="portfolio__preview d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">Live Preview</a>
        </div>
        <div class="portfolio__code d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">View Code</a>
        </div>
      </div>
    </article>
    <article
      class="portfolio__item portfolio__item-3 d-flex flex-column justify-content-between"
    >
      <div class="portfolio__cover"></div>
      <h4 class="portfolio__project-title">Project Title goes here</h4>
      <span class="portfolio__description"
        >This is sample project description random things are here in
        description This is sample project lorem ipsum generator for dummy
        content</span
      >
      <span class="portfolio__stack">
        <span>Tech stack :</span> HTML , JavaScript, SASS, React
      </span>
      <div class="portfolio__links d-flex">
        <div class="portfolio__preview d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">Live Preview</a>
        </div>
        <div class="portfolio__code d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">View Code</a>
        </div>
      </div>
    </article>
    <article
      class="portfolio__item portfolio__item-4 d-flex flex-column justify-content-between"
    >
      <div class="portfolio__cover"></div>
      <h4 class="portfolio__project-title">Project Title goes here</h4>
      <span class="portfolio__description"
        >This is sample project description random things are here in
        description This is sample project lorem ipsum generator for dummy
        content</span
      >
      <span class="portfolio__stack">
        <span>Tech stack :</span> HTML , JavaScript, SASS, React
      </span>
      <div class="portfolio__links d-flex">
        <div class="portfolio__preview d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">Live Preview</a>
        </div>
        <div class="portfolio__code d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">View Code</a>
        </div>
      </div>
    </article>
    <article
      class="portfolio__item portfolio__item-5 d-flex flex-column justify-content-between"
    >
      <div class="portfolio__cover"></div>
      <h4 class="portfolio__project-title">Project Title goes here</h4>
      <span class="portfolio__description"
        >This is sample project description random things are here in
        description This is sample project lorem ipsum generator for dummy
        content</span
      >
      <span class="portfolio__stack">
        <span>Tech stack :</span> HTML , JavaScript, SASS, React
      </span>
      <div class="portfolio__links d-flex">
        <div class="portfolio__preview d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">Live Preview</a>
        </div>
        <div class="portfolio__code d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">View Code</a>
        </div>
      </div>
    </article>
    <article
      class="portfolio__item portfolio__item-6 d-flex flex-column justify-content-between"
    >
      <div class="portfolio__cover"></div>
      <h4 class="portfolio__project-title">Project Title goes here</h4>
      <span class="portfolio__description"
        >This is sample project description random things are here in
        description This is sample project lorem ipsum generator for dummy
        content</span
      >
      <span class="portfolio__stack">
        <span>Tech stack :</span> HTML , JavaScript, SASS, React
      </span>
      <div class="portfolio__links d-flex">
        <div class="portfolio__preview d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">Live Preview</a>
        </div>
        <div class="portfolio__code d-flex align-items-center">
          <div class="portfolio__icon"></div>
          <a href="">View Code</a>
        </div>
      </div>
    </article>
  </section>
</article>
