<article class="content__block stack d-flex flex-column align-items-center">
  <h2 class="stack__title py-3">My Tech Stack</h2>
  <h3 class="stack__subtitle py-2">
    Technologies I’ve been working with recently
  </h3>
  <section class="stack__technologies">
    <div class="stack__item html"></div>
    <div class="stack__item css"></div>
    <div class="stack__item js"></div>
    <div class="stack__item react"></div>
    <div class="stack__item redux"></div>
    <div class="stack__item bootstrap"></div>
    <div class="stack__item tailwind"></div>
    <div class="stack__item sass"></div>
    <div class="stack__item git"></div>
    <div class="stack__item gsap"></div>
    <div class="stack__item vscode"></div>
    <div class="stack__item github"></div>
  </section>
</article>
