<footer class="container footer d-flex flex-column py-4 mx-auto">
  <article class="footer__links-wrapper d-flex justify-content-between">
    <section class="footer__logo-wrapper">
      <div class="footer__logo"></div>
    </section>
    <section class="footer__contacts d-flex">
      <div class="contacts__phone">
        <a href="tel:+911234509876">+91 12345 09876</a>
      </div>
      <div class="contacts__mail">
        <a href="mailto:info@example.com">info@example.com</a>
      </div>
    </section>
    <section class="footer__socials d-flex">
      <button type="button" class="socials-button github"></button>
      <button type="button" class="socials-button twitter"></button>
      <button type="button" class="socials-button linkedin"></button>
    </section>
  </article>
  <article
    class="footer__menu-wrapper d-flex justify-content-between align-items-center"
  >
    <nav class="footer__menu d-flex">
      <button type="button" class="menu-button">Home</button>
      <button type="button" class="menu-button">About</button>
      <button type="button" class="menu-button">Technologies</button>
      <button type="button" class="menu-button">Projects</button>
      <button type="button" class="menu-button">Contact</button>
    </nav>
    <section class="footer__credits">
      <span class="footer__credits-wrapper">
        Designed and built by
        <span class="footer__credits-colored">Pavan MG</span> with
        <span class="footer__credits-colored">Love</span> &
        <span class="footer__credits-colored">Coffee</span>
      </span>
    </section>
  </article>
</footer>
