<header
  class="container header d-flex justify-content-between align-items-center py-4 mx-auto"
>
  <section class="header__logo-wrapper">
    <div class="header__logo"></div>
  </section>
  <nav class="header__menu d-flex align-items-center">
    <button type="button" class="menu-button">Home</button>
    <button type="button" class="menu-button">About</button>
    <button type="button" class="menu-button">Tech Stack</button>
    <button type="button" class="menu-button">Projects</button>
    <button type="button" class="menu-button">Contact</button>
  </nav>
  <section class="header__socials d-flex align-items-center">
    <button type="button" class="socials-button github"></button>
    <button type="button" class="socials-button twitter"></button>
    <button type="button" class="socials-button linkedin"></button>
  </section>
</header>
